.navbar{
   position: fixed;
   top:0;
   z-index:1;
   display: flex;
   justify-content: center;
   transition-timing-function: ease-in;
   transition:all 0.5s;
   height:80px;
   width:100%;
}
.show{
    background-color: black;
}

.navbar-logo{
    height:70px;
    width: 100px;
    position:fixed;
    top:0;
    left:0;
}
.navbar-avatar{
    height:30px;
    width:30px;
    position:fixed;
    top:25px;
    right:30px;
}